.message,
.ownMessage {
  position: relative;

  display: flex;
  margin: 10px 0;

  align-items: center;
}

.ownMessage {
  align-self: flex-end;
}

.avatar {
  align-self: flex-end;
  margin-right: 15px;
  width: 50px;
  height: 50px;

  border: 1px solid var(--main-text-color);
  border-radius: 50px;
}

.messageBody {
  position: relative;
  padding: 10px 20px 20px;
  min-width: 120px;
  max-width: 600px;

  background-color: var(--secondary-bg-color);
  border-radius: 20px;
}

.message .messageBody {
  border-bottom-left-radius: 0;
}

.message .messageBody::before {
  content: "";
  position: absolute;
  bottom: -10px;

  border: 5px solid transparent;
  border-top-color: #7269ef;
}

.message .messageBody::before {
  left: 0;

  border-left-color: #7269ef;
}

.messageText {
  margin: 0;
  padding: 0 0 8px;
}

.likes {
  position: absolute;
  right: 54px;
  bottom: 4px;

  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  cursor: pointer;
}

.likes img {
  width: 18px;
}

.likesCount {
  margin-right: 2px;
  color: white;
}

.messageTime {
  position: absolute;
  right: 20px;
  bottom: 4px;

  font-size: 0.75em;
}

.userName {
  margin: 10px 0;
}

.optionButton {
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  cursor: pointer;
}

.optionButton img {
  width: 20px;
}

.optionDisabled {
  display: none;
}

.options {
  position: absolute;
  right: 20px;
  top: -20px;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: var(--main-bg-color);
}

.messageEdit,
.messageDelete {
  color: var(--main-text-color);

  border: none;
  background: none;

  cursor: pointer;
}


.textArea {
  padding: 0;
  margin: 0;

  color: var(--main-text-color);

  border: 0;
  background: #5449e2;
}

.saveButton,
.cancelButton {
  position: absolute;
  bottom: 2px;

  margin: 0;
  padding: 0;

  background: none;
  border: none;

  cursor: pointer;
}

.saveButton {
  right: 46px;
}

.cancelButton {
  right: 24px;
}

.saveButton img,
.cancelButton img {
  width: 15px;
}

.option {
  padding: 10px;

  text-align: center;
}

.option:hover {
  background: #3d4c59;
}