.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 61px);

  background-color: rgba(38, 46, 53, 0.95);

  overflow: hidden;
}

.button {
  margin: 14px;
  padding: 0.75em 1.5em;

  color: var(--main-text-color);

  background: var(--secondary-bg-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.usersWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.usersList {
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  column-gap: 30px;
  row-gap: 30px;
  width: 1530px;
  margin: 0;
  padding: 20px;

  list-style-type: none;
}