.wrapper {
  position: absolute;
  z-index: 1;

  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 500px;
  height: 500px;

  background: var(--main-bg-color);
  border-radius: 20px;
}

.close {
  position: absolute;

  top: 8px;
  right: 8px;

  background: none;
  border: none;

  cursor: pointer;
}

.close img {
  width: 16px;
}

.textArea {
  box-sizing: border-box;
  padding: 10px 20px;
  height: 90%;

  color: var(--main-text-color);

  background: #36404a;
  border: none;
  border-radius: 10px;

  outline: none;
  resize: none;
}

.textArea::-webkit-scrollbar {
  width: 6px;
}

.textArea::-webkit-scrollbar-thumb {
  background: var(--secondary-bg-color);
}

.save {
  margin: 10px auto 0;
  padding: 0.75em 1.5em;
  width: 100px;

  color: var(--main-text-color);

  background: var(--secondary-bg-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}