.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 61px);

  background-color: rgba(38, 46, 53, 0.95);

  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px 40px;

  background-color: var(--main-bg-color);
  border-radius: 30px;
}

.form p {
  margin: 4px 0 0;

  color: var(--secondary-text-color);
  font-weight: bold;
}

.form input {
  box-sizing: border-box;

  width: 100%;
  margin: 8px 0 4px;
  padding: 1em;

  color: var(--main-text-color);

  background-color: #2b3141;
  border: 1px solid var(--secondary-text-color);
  border-radius: 4px;

  outline: none;
}

.form input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: auto;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
}

.checkboxWrapper p {
  margin-left: 5px;
}

.button {
  margin: 14px;
  padding: 0.75em 1.5em;

  color: var(--main-text-color);

  background: var(--secondary-bg-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}