.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;

  color: var(--main-text-color);

  background-color: var(--main-bg-color);

  border-bottom: 1px solid var(--main-text-color);
}

.menuWrapper {
  display: flex;
  align-items: center;
  margin-left: 15px;
  width: 300px;
}

.burgerWrapper {
  display: flex;
  align-items: center;
  height: 20px;

  cursor: pointer;
}

.menuBurger {
  position: relative;

  margin: 0;
  padding: 0;
  width: 21px;
  height: 3px;

  background: var(--main-text-color);
  border: none;

  cursor: pointer;
}

.menuBurger::before,
.menuBurger::after {
  position: absolute;
  content: '';

  width: 21px;
  height: 3px;

  background: var(--main-text-color);
}

.menuBurger::before {
  left: 0;
  top: -7px;
}

.menuBurger::after {
  left: 0;
  bottom: -7px;
}


.chatInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatName {
  margin: 0;
  padding: 0.2em 0;
}

.chatInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;

  font-size: 0.6em;
}

.chatInfo div {
  display: flex;
  align-items: center;
}

.chatInfo .chatSeparator {
  margin: 0 8px;
}

.chatInfo p {
  margin: 0;
  padding: 0;
}

.accountWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;

  width: 300px;
}

.searchIcon,
.settingsButton {
  margin-right: 8px;

  background: none;
  border: none;
}

.searchIcon img,
.settingsButton img {
  width: 20px;
  height: 20px;

  cursor: pointer;
}

.userAvatar {
  width: 45px;
  height: 45px;

  border: 2px solid var(--main-text-color);
  border-radius: 100px;
}

.menu {
  display: none;
}

.menuVisible {
  display: block;
}

.linkWrapper {
  position: absolute;
  z-index: 2;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  background: white;
}

.linkWrapper li {
  margin-right: 10px;
}

.linkWrapper li:hover {
  background-color: lightgray;
}

.linkWrapper li:last-child {
  margin: 0;
}

.link {
  display: block;
  padding: 14px;

  text-decoration: none;
  color: var(--main-bg-color);
}