.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background-color: #303841;
}

.loginForm {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 400px;
  height: 300px;

  color: var(--secondary-text-color);
  font-weight: bold;

  background-color: var(--main-bg-color);
  border-radius: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputWrapper input {
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0 4px;
  padding: 1em;

  color: var(--main-text-color);

  background-color: #2b3141;
  border: 1px solid var(--secondary-text-color);
  border-radius: 4px;

  outline: none;
}

.inputWrapper input:active,
.inputWrapper input:focus {
  border-color: var(--secondary-bg-color);
}

.button {
  width: 100%;
  margin-top: 14px;
  padding: 0.75em 1.5em;

  color: var(--main-text-color);

  background: var(--secondary-bg-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.error {
  color: red;
  font-weight: 400;
  font-size: 11px;
}