.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;

  background-color: var(--main-bg-color);
}

.textArea {
  box-sizing: border-box;
  padding: 10px 20px;
  margin-left: 15px;
  width: 92%;
  height: 60px;

  color: var(--main-text-color);

  background: #36404a;
  border: none;
  border-radius: 10px;

  outline: none;
  resize: none;
}

.textArea::-webkit-scrollbar {
  width: 6px;
}

.textArea::-webkit-scrollbar-thumb {
  background: var(--secondary-bg-color);
}

.submitButton {
  margin-right: 15px;
  padding: 0.75em 1.5em;

  color: var(--main-text-color);

  background: var(--secondary-bg-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}