.user {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px 15px;

  background: var(--secondary-bg-color);
  border-radius: 22px;
}

.avatar {
  width: 40px;
  border-radius: 20px;
}

.name {
  margin: 0 auto 0 5px;
  width: 30%;

  text-overflow: ellipsis;
  color: var(--main-text-color);

  overflow: hidden;
}

.button {
  margin-right: 5px;
  padding: 5px 10px;

  color: var(--main-bg-color);

  background: var(--main-text-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.button:disabled {
  background: #7f8184;

  cursor: auto;
}