.messagesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
}

.messagesDivider {
  padding: 1em 2em;

  background-color: var(--secondary-bg-color);
  border-radius: 40px;
}

.messagesList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0 15px;
  width: 100%;

  list-style-type: none;
}